@import 'nib/vendor'
@import 'nib/gradients'

vendo-prefixes = o ms moz webkit official
azul = #22BCE0
naranja = #DD4F24
gris_oscuro = #444
gris_texto = #7a7a7a

header
	background-color gris_oscuro
	color white
	padding 1em
	overflow hidden